@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
  width: 100%;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #171717;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1.4rem;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: 0.5px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

/* 共通
===================================== */
.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.ttl-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ttl-wrapper.-white {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 1280px) {
  .ttl-wrapper.-white {
    margin-right: -100px;
  }
}

.ttl {
  font-size: 3rem;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
}
@media (min-width: 768px) {
  .ttl {
    font-size: 4vw;
  }
}
@media (min-width: 1280px) {
  .ttl {
    font-size: 6rem;
  }
}
.ttl.-white {
  color: #fff;
}

.ttl-bar {
  width: 90px;
  height: 5px;
  background: #171717;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .ttl-bar {
    width: 13vw;
  }
}
@media (min-width: 1280px) {
  .ttl-bar {
    width: 200px;
  }
}
.ttl-bar.-white {
  background: #fff;
}

.ttl-light {
  font-size: 4rem;
  text-align: right;
  color: rgba(23, 23, 23, 0.05);
  font-family: "Noto Serif", sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .ttl-light {
    font-size: 6vw;
    margin-top: 70px;
  }
}
@media (min-width: 1280px) {
  .ttl-light {
    font-size: 9rem;
    margin-right: -100px;
  }
}
.ttl-light.-dark {
  text-align: left;
  color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 1280px) {
  .ttl-light.-dark {
    margin-left: -100px;
  }
}

/* header
===================================== */
#header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  padding: 0 15px;
  -webkit-transition: 0.3s ease 0s all;
  transition: 0.3s ease 0s all;
}
@media (min-width: 768px) {
  #header {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  #header {
    height: 96px;
    padding: 0;
  }
}
#header.is-active {
  background: #282F35;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-size: 2.6rem;
  letter-spacing: 2px;
}
.header-logo a {
  color: #fff;
}

.header-ul {
  display: none;
}
@media (min-width: 768px) {
  .header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-li {
  margin-left: 30px;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-size: 1.6rem;
}
.header-li a {
  color: #fff;
}

/* Footer
===================================== */
#footer {
  width: 100%;
  height: 60px;
  color: #171717;
}

.footer-txt {
  height: inherit;
  line-height: 60px;
  text-align: center;
  font-family: "Noto Serif", sans-serif;
}

/* drawer
===================================== */
.drawer-icon {
  cursor: pointer;
  z-index: 999;
}
@media (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-active .drawer-bar1 {
  -webkit-transform: translateY(7px) rotate(-135deg);
          transform: translateY(7px) rotate(-135deg);
}
.drawer-icon.is-active .drawer-bar2 {
  opacity: 0;
}
.drawer-icon.is-active .drawer-bar3 {
  -webkit-transform: translateY(-7px) rotate(135deg);
          transform: translateY(-7px) rotate(135deg);
}

.drawer-bars {
  width: 25px;
  height: 16px;
  position: relative;
}

.drawer-bar1,
.drawer-bar2,
.drawer-bar3 {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.drawer-bar1 {
  top: 0;
}

.drawer-bar2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.drawer-bar3 {
  bottom: 0;
}

.drawer-content {
  background: #282F35;
  color: #fff;
  font-family: "Noto Serif", sans-serif;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 998;
}
.drawer-content.is-active {
  display: block;
}

.drawer-items {
  margin-top: 212px;
  text-align: center;
}

.drawer-item {
  padding: 20px;
  font-size: 1.6rem;
}
.drawer-item a {
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.drawer-item a:hover {
  opacity: 0.7;
}

/* ボタン
===================================== */
.btn {
  display: block;
  background: #F7D43F;
  border-radius: 50px 50px 50px 50px;
  -webkit-box-shadow: 0 0 6px #282F35;
          box-shadow: 0 0 6px #282F35;
  text-align: center;
  margin: 0 auto;
  width: 235px;
  height: 59px;
  line-height: 59px;
  font-family: "Noto Serif", sans-serif;
  -webkit-transition: 0.3s ease 0s all;
  transition: 0.3s ease 0s all;
}
.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* hero
===================================== */
#hero {
  height: 100vh;
}
@media (min-width: 768px) {
  #hero {
    height: 81.21vh;
  }
}

.hero-inner {
  width: 100%;
  height: inherit;
  position: relative;
}

.hero-ttls {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .hero-ttls {
    width: auto;
    top: unset;
    bottom: 177px;
    left: 120px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.hero-ttl {
  font-size: 3.7rem;
  font-family: "Noto Serif", sans-serif;
  font-weight: bold;
}
@media (min-width: 768px) {
  .hero-ttl {
    font-size: 4vw;
  }
}
@media (min-width: 1280px) {
  .hero-ttl {
    font-size: 7rem;
  }
}

.hero-subttl {
  font-size: 3rem;
  padding-top: 59px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .hero-subttl.-sp {
    display: none;
  }
}
.hero-subttl.-tab {
  display: none;
}
@media (min-width: 768px) {
  .hero-subttl.-tab {
    display: block;
    padding-top: 31px;
    font-size: 2.8vw;
  }
}
@media (min-width: 1280px) {
  .hero-subttl.-tab {
    font-size: 4rem;
  }
}

/* slider
===================================== */
.slider {
  height: inherit;
}

.slider-item img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .slider-item img {
    height: 81.21vh;
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}

/* concept
===================================== */
#concept {
  margin: 100px auto 40px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  #concept {
    padding: 0 30px;
    margin: 100px auto 70px;
  }
}
@media (min-width: 1280px) {
  #concept {
    padding: 0;
  }
}

.concept-lead {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 55px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .concept-lead {
    font-size: 2.5vw;
    margin-top: 70px;
  }
}
@media (min-width: 1280px) {
  .concept-lead {
    font-size: 3rem;
    line-height: 1.6666;
  }
}
@media (min-width: 768px) {
  .concept-lead.-sp {
    display: none;
  }
}
.concept-lead.-tab {
  display: none;
}
@media (min-width: 768px) {
  .concept-lead.-tab {
    display: block;
  }
}

.concept-wrapper {
  margin-top: 34px;
}
@media (min-width: 768px) {
  .concept-wrapper {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.concept-txt {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.875;
}
@media (min-width: 768px) {
  .concept-txt {
    width: 45%;
  }
}
@media (min-width: 1280px) {
  .concept-txt {
    width: 40%;
  }
}

.concept-img {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .concept-img {
    margin-top: unset;
    width: 45%;
  }
}
@media (min-width: 1280px) {
  .concept-img {
    width: 40%;
  }
}
.concept-img img {
  height: 39.683vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .concept-img img {
    height: auto;
  }
}

/* service
===================================== */
#service {
  margin: 100px auto 64px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  #service {
    margin: 100px auto 70px;
    padding: 0 30px;
  }
}

.service-wrapper {
  width: 100vw;
  margin: 80px calc(50% - 50vw) 0;
}
@media (min-width: 768px) {
  .service-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.service-item {
  width: 100%;
  height: 250px;
  line-height: 250px;
  background: url(/img/service-img01@2x.jpg) center/cover no-repeat;
  color: #fff;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .service-item {
    width: 33.33333%;
    height: auto;
    font-size: 3vw;
  }
}
@media (min-width: 1280px) {
  .service-item {
    width: 100%;
    height: 320px;
    line-height: 320px;
    font-size: 4rem;
  }
}

.item2 {
  margin-top: 30px;
  background: url(/img/service-img02@2x.jpg) center/cover no-repeat;
}
@media (min-width: 768px) {
  .item2 {
    margin-top: unset;
  }
}

.item3 {
  margin-top: 30px;
  background: url(/img/service-img03@2x.jpg) center/cover no-repeat;
}
@media (min-width: 768px) {
  .item3 {
    margin-top: unset;
  }
}

/* works
===================================== */
#works {
  background: url(/img/works-bgi@2x.jpg) center/cover no-repeat;
  margin: 0 auto;
  padding: 100px 15px 40px;
}
@media (min-width: 768px) {
  #works {
    padding: 104px 30px 70px;
    margin: 100px auto 70px;
  }
}
@media (min-width: 1280px) {
  #works {
    padding: 104px 0 70px;
  }
}

.works-wrapper {
  margin-top: 50px;
  padding: 0 13px;
}
@media (min-width: 768px) {
  .works-wrapper {
    margin-top: 80px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.works-item {
  width: 100%;
}
@media (min-width: 768px) {
  .works-item {
    width: 32%;
  }
}
.works-item:not(:first-child) {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .works-item:not(:first-child) {
    margin-top: unset;
  }
}

.works-txt {
  font-size: 1.6rem;
  color: #141414;
  line-height: 1.875;
  background: #fff;
  padding: 25px 20px;
}

.works-btn {
  margin-top: 80px;
}

/* works
===================================== */
#contact {
  background: url(/img/contact-bgi@2x.jpg) center/cover no-repeat;
  margin: 0 auto;
  padding: 100px 15px 40px;
}
@media (min-width: 768px) {
  #contact {
    padding: 104px 30px 70px;
    margin: 100px auto 0;
  }
}
@media (min-width: 1280px) {
  #contact {
    padding: 104px 0;
  }
}

.contact-txt {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-top: 80px;
}

.contact-btn {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .contact-btn {
    margin-top: 40px;
  }
}

/* contact-hero
===================================== */
.contact-hero {
  background: url(/img/contact-page-bgi@2x.jpg) center/cover no-repeat;
  width: 100%;
  height: 360px;
}
@media (min-width: 768px) {
  .contact-hero {
    height: 453px;
  }
}

.contact-inner {
  width: 100%;
  max-width: 1440px;
  position: relative;
  height: inherit;
  margin: 0 auto;
}

.contact-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .contact-ttl {
    font-size: 4vw;
  }
}
@media (min-width: 1280px) {
  .contact-ttl {
    font-size: 6rem;
  }
}

.contact-ttl_light {
  position: absolute;
  bottom: 60px;
  left: 15px;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.1);
  font-family: "Noto Serif", sans-serif;
  font-weight: bold;
}
@media (min-width: 768px) {
  .contact-ttl_light {
    left: 30px;
    bottom: 40px;
    font-size: 6vw;
  }
}
@media (min-width: 1280px) {
  .contact-ttl_light {
    left: 48px;
    bottom: 80px;
    font-size: 9rem;
  }
}

/* form
===================================== */
.contact-form {
  margin: 100px 0 80px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .contact-form {
    padding: 0 30px;
  }
}

.form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.form-row:not(:first-child) {
  margin-top: 25px;
}

.form-input {
  width: 100%;
  margin: 5px 0 0 0;
  padding: 0;
}
.form-input [type=text],
.form-input [type=text-kana],
.form-input [type=email],
.form-input [type=tel],
.form-input textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #171717;
  background: #fff;
  padding: 12px 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #171717;
  width: 100%;
  outline: none;
}
.form-input [type=text]::-webkit-input-placeholder, .form-input [type=text-kana]::-webkit-input-placeholder, .form-input [type=email]::-webkit-input-placeholder, .form-input [type=tel]::-webkit-input-placeholder, .form-input textarea::-webkit-input-placeholder {
  color: #ccc;
}
.form-input [type=text]::-moz-placeholder, .form-input [type=text-kana]::-moz-placeholder, .form-input [type=email]::-moz-placeholder, .form-input [type=tel]::-moz-placeholder, .form-input textarea::-moz-placeholder {
  color: #ccc;
}
.form-input [type=text]:-ms-input-placeholder, .form-input [type=text-kana]:-ms-input-placeholder, .form-input [type=email]:-ms-input-placeholder, .form-input [type=tel]:-ms-input-placeholder, .form-input textarea:-ms-input-placeholder {
  color: #ccc;
}
.form-input [type=text]::-ms-input-placeholder, .form-input [type=text-kana]::-ms-input-placeholder, .form-input [type=email]::-ms-input-placeholder, .form-input [type=tel]::-ms-input-placeholder, .form-input textarea::-ms-input-placeholder {
  color: #ccc;
}
.form-input [type=text]::placeholder,
.form-input [type=text-kana]::placeholder,
.form-input [type=email]::placeholder,
.form-input [type=tel]::placeholder,
.form-input textarea::placeholder {
  color: #ccc;
}
.form-input textarea {
  resize: none;
  width: 100% !important;
  height: 140px !important;
}

.form-check {
  margin-top: 40px;
  text-align: center;
}
.form-check [type=checkbox] {
  display: none;
}
.form-check span {
  display: inline-block;
  padding-left: 38px;
  position: relative;
}
.form-check span a {
  font-weight: bold;
  color: #171717;
  border-bottom: 1px solid #171717;
}
.form-check span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: 1px solid #171717;
  background: #fff;
}
.form-check span::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 28px;
  color: #171717;
  font-size: 17px;
  display: none;
}
.form-check [type=checkbox]:checked + span::after {
  display: block;
}

.form-button {
  margin-top: 50px;
  text-align: center;
}
.form-button [type=submit] {
  display: block;
  color: #ffff;
  background: #888;
  border-radius: 50px 50px 50px 50px;
  -webkit-box-shadow: 0 0 6px #282F35;
          box-shadow: 0 0 6px #282F35;
  text-align: center;
  width: 235px;
  height: 59px;
  line-height: 59px;
  margin: 0 auto;
  font-family: "Noto Serif", sans-serif;
  -webkit-transition: 0.3s ease 0s all;
  transition: 0.3s ease 0s all;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.form-button [type=submit].active {
  background: #F7D43F;
  color: #171717;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-button [type=submit].active:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form-message {
  text-align: left;
  margin-top: 60px;
  display: none;
}
.form-message.-error {
  color: #f00;
}